@model IEnumerable<Diplom.Models.Movie>
<table class="table">
    <thead>
        <tr>
            <th>
                Название фильма
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Удалить</a> |
            </td>
        </tr>
}
    </tbody>
</table>